@media only screen and (min-width: 225px) {
body{
    background-image: url(../images/background.png);
   background-size: cover;
//    min-height: 100%;
//    background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
//    background-repeat: no-repeat;
}
}

@media only screen and(max-width:224px){
    body{
        background-color: lightblue;
    }
}

header {
    display: flex;
    flex-direction: column;
}

.navbarwrapper{
    display: flex;
    justify-content: space-between;
}

.bannertop{
    display: block;
    max-width: 100%;
}
.bannertop img{
    max-width: 100%;
}


// Home page infill - this is the crux of the body segment.


.indexinfill{
    justify-content: space-around;
    margin-bottom: 50px;
}

h1{
    justify-content: center;
    text-align: center;
    color: #f7c744;
    font-size: xx-large;
    padding-top: 1em;
}
h2{
    justify-content: center;
    text-align: center;
    color: #f7c744;
    font-size: x-large;
    padding-top: 1em;
}
h3{
    justify-content: center;
    text-align: center;
    color: #f7c744;
    font-size: large;
    padding-top: 1em;
}
p{
    justify-content: center;
    text-align: center;
    color: #0a3038;
  font-size: large;
  padding-bottom: 2em;
}



footer{
    display: flex;
    justify-content: center;
}

.footericons{
    display: flex;
    flex-wrap: 0;
    position: fixed;
    bottom: 0%;
}
.footerbanner {
    display: flex;
    position: fixed;
    justify-content: center;
}





/* Header/Blog Title */
.bloghead {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    opacity: 1;
  }
  
  .placeholderimage {
    background-color: #aaa;
    width: 100%;
  }
  
  .blogpost {
    // background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: thin inset black;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn,
  .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }