header {
    display: flex;
    flex-direction: column;
}

.navbarwrapper{
    display: flex;
    justify-content: space-between;
}

.bannertop{
    display: block;
    max-width: 100%;
}
.bannertop img{
    max-width: 100%;
}

// Home page infill - this is the crux of the body segment.

.indexinfill{
    justify-content: space-around;
}

h1{
    justify-content: center;
    text-align: center;
    color: #f3c15f;
    font-size: x-large;
}
p{
    justify-content: center;
    text-align: center;
    color: #029cbe;
  font-size: large;
}



footer{
    display: flex;
    justify-content: center;
}

.footericons{
    display: flex;
    position: fixed;
    bottom: 0%;
}
.footerbanner {
    display: flex;
    position: fixed;
    justify-content: center;
}